@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Montserrat", sans-serif;
}

.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}

.btn-primary{
    background-color: white;
    border-radius: 10em;
    margin: 0 12em;
}
.btn-primary:hover{
    background-color: #ddd;
}

.btn-secondary{
    background-color: white;
    border: 2px solid #e63946;
    border-radius: 1.5em;
    margin: 0 12em;
}
.btn-secondary:hover{
    background-color: #fcf3f2;
}

.bold{
    font-weight: 700;
    font-size: 3rem;
}

.medium{
    font-weight: 500;
}

.lg-heading{
    font-size: 3rem;
}

.md-heading{
    font-size: 2rem;
}

.text-red{
    color: #e63946;
}

.text-light{
    color: #f4f4f4;
}

.text-black{
    color: #333;
}

.text-gray{
    color: #555;
}

header{
    position:relative;
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../Images/header-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    padding-top: 2rem;
}

.dark{
    background-color: #263238;
}

.navbar::after{
    content: '';
    display: block;
    clear: both;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

 .logo,
 .navbar a{
    color: white;
}

 .navbar .logo{
    float:left;
}

.navbar .nav-list{
    float: right;
}

 .navbar .nav-item{
    display: inline;
    padding-right: 2rem;
}

ul li{
    list-style: none;
    margin-bottom: 0.5rem;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
    margin-bottom: 0.5em;
    padding-bottom: 0.3rem;
}

.navbar a:hover{
    border-bottom: 1px solid white;
}

.home-text,li {
    font-size: 2rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h1,h2,h3{
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    font-size: 2rem;
}

.header-content h1{
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.header-content p{
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.3rem;
    margin-bottom: 1.5em;
}

.header-content{
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.showcase{
    background-color: #ddd;
    padding: 10rem 0;
}

.row{
    height: 350px;
    box-shadow: 0 5px 20px #aaa;
    background-color: white;
}

.row .img-box{
    height: 100%;
}

.row .textbox{
    padding: 3rem; 
    height: 100%;  
}

.row1{
    margin-bottom: 10rem;
}

.row1 .img-box , .row2 .textbox{
    float: left;
    width: 50%;
}

.row2 .img-box , .row1 .textbox{
    float: right;
    width: 50%;
}

.row .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row::after{
    content: '';
    display: block;
    clear: both;
}

.features{
    padding: 10rem 0;
}

.box-wrapper{
    height: 275px;
    box-shadow: 0 5px 20px #aaa;
    background-color: white;
}

.box{
    height: 100%;
    width:33.33%;
    float: left;
    text-align: center;
}

.box-wrapper::after{
    content: '';
    display: block;
    clear: both;
}

.box1 , .box3{
    padding: 2rem;
    background-color: #263238;
    color: #fff;
}

.box2{
    padding:2rem;
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    color: #fff;
}

.footer{
    position: relative;
    background-color: #263238;
    height: 10rem;
    text-align: center;
}

.footer p{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.navbar .logo{
    float:left;
}

.navbar .nav-list{
    float: right;
}

.navbar .nav-item{
    display: inline;
    padding-right: 2rem;
}

.navbar a{
    color: #fff
}

.about , .contact{
    padding: 5rem 0;
}

.about-heading::after{
    content: "";
    display: block;
    border: 3px solid #e63946;
    width: 100%;
}

.about .tasks{
    padding: 2rem 0;
}

.tasks .left-list {
    float: left;
    padding-left: 15rem;
}

.tasks .right-list{
    float: right;
    padding-right: 15rem;
}

.tasks::after{
    content: "";
    display: block;
    clear: both;
}

.about-content::after{
    content: "";
    display: block;
    clear: both;
}

.about-content{
    width: 100%;
}

.about-content .content{
    float:left;
    width: 25%;
    padding:2rem;
    text-align: center;
}

.about-contactus{
    width: 100%;
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    padding: 0.5em 1em;
    box-shadow: 0 5px 20px #aaa;
}
.about-contactus::after{
    content: "";
    display: block;
    clear: both;
}
.about-contact-text .contactUs-text{
    float:left;
    width: 60;
    height: 100%;
    margin: 1em 0;
    padding: 0.5em 1em;
}
.about-contact-text a{
    float:right;
    width: 40%;
    height: 100%;
    margin: 0.2em 0;
    text-align: center;
    letter-spacing: 0.5rem;
}
.btn-contactUs{
    border: 2.5px solid white;
    padding: 0.5em 1.5em;
}


.contact-form{
    padding: 5rem 0;
    font-size: 2rem;
}


.form-wrapper::after{
    content: "";
    display: block;
    clear: both;
}

.form-wrapper .company-address h2{
    display: inline-block;
    text-transform: uppercase;
}

.form-wrapper .company-group{
    margin-bottom: 3rem;
}

.company-address{
    height: 730px;
    background: #fff;
    box-shadow: 0 5px 20px #aaa;
    width: 49%;
    float: left;
    padding: 1rem;
}

.company-address img{
    max-width: 90%;
    min-height: 40rem;
    object-fit: cover;
    object-position: right;
}

.company-contactus{
    height: 730px;
    font-size: 1.6rem;
    box-shadow: 0 5px 20px #aaa;
    background: #fff;
    width: 49%;
    float: right;
    padding: 1rem;
}

.form-wrapper .form-label{
    display: block;
}

.form-wrapper .form input{
    padding: 0.5rem;
    width: 100%;
}

.form-wrapper .form .form-group {
    margin-bottom: 1.2rem;
}

.form-wrapper .form textarea{
    width: 100%;
    height: 300px;
    padding: 1rem;
}

.form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    font-size: 1.8rem;
    text-transform: uppercase;
    background-color: #e63946;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}

@media(max-width:500px){
    html{
        font-size: 50%;
    }

    .navbar .nav-list, .navbar .logo{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }

    .header-content .main-heading{
        display: none;
    }

    .row{
        height: auto;
        width: 100%;
    }

    .row .img-box, .row .textbox{
        float: none;
        width: 100%;
        text-align: center;
    }

    .features .box{
        float: none;
        width: 100%;
        text-align: center;
    }

    .tasks .left-list , .tasks .right-list{
        float: none;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .about-contact-text .contactUs-text, .about-contact-text .btn-contactUs{
        float: none;
        width: 100%;
        text-align: center;
    }


}